In [1]:
import pywarp

In [2]:
url = 'https://sandbox.senx.io/api/v0/fetch'
token = '<Your-read-token>'

In [3]:
df_list = pywarp.sfetch(url, token, '~.*{}', 'now', '-10', indexedByTimestamp=True)

In [4]:
type(df_list)

list

In [5]:
df_list

[                  value:room.temperature.10x
 1697792621461327                         211
 1697786471461327                         211
 1697786441461327                         212
 1697785451461327                         212
 1697785421453309                         212
 1697781861453309                         212
 1697781831443844                         212
 1697779891443844                         212
 1697779871443844                         213
 1697778251443844                         213,
                   value:outside.temperature
 1697792631461327                       15.0
 1697792621461327                       15.0
 1697792611461327                       15.1
 1697792601461327                       15.0
 1697792591461327                       15.1
 1697792581461327                       15.1
 1697792571461327                       15.0
 1697792561461327                       15.1
 1697792551461327                       15.0
 1697792541461327                       15.0,
                   value:outside.temperature
 1697792631461327                       15.0
 1697792621461327                       15.0
 1697792611461327                       15.1
 1697792601461327                       15.0
 1697792591461327                       15.1
 1697792581461327                       15.1
 1697792571461327                       15.0
 1697792561461327                       15.1
 1697792551461327                       15.0
 1697792541461327                       15.0,
                   value:sanitary.water.temperature.10x
 1697792621461327                                   509
 1697791851461327                                   509
 1697791841461327                                   508
 1697791711461327                                   508
 1697791691461327                                   507
 1697791681461327                                   507
 1697791671461327                                   506
 1697791661461327                                   505
 1697791631461327                                   499
 1697791621461327                                   498,
                   value:heatpump.power
 1697792631461327                  10.2
 1697792621461327                  10.0
 1697792611461327                  10.2
 1697792601461327                  10.4
 1697792591461327                  10.4
 1697792581461327                  10.2
 1697792571461327                   9.7
 1697792561461327                  10.2
 1697792551461327                  10.4
 1697792541461327                  10.2,
                   value:sanitary.water.temperature
 1697792621461327                               509
 1697791851461327                               509
 1697791841461327                               508
 1697791711461327                               508
 1697791691461327                               507
 1697791681461327                               507
 1697791671461327                               506
 1697791661461327                               505
 1697791631461327                               499
 1697791621461327                               498,
                   value:heatpump.kwh.total
 1697792621461327                    4466.5
 1697791531461327                    4466.5
 1697791501461327                    4466.4
 1697791301461327                    4466.4
 1697791281461327                    4466.3
 1697791071461327                    4466.3
 1697791031461327                    4466.2
 1697790831461327                    4466.2
 1697790821461327                    4466.1
 1697790581461327                    4466.1,
                   value:heater.setpoint.10x
 1697792621461327                        210
 1697785451461327                        210
 1697785421453309                        210
 1697781861453309                        210
 1697781831443844                        210
 1697778251443844                        210
 1697778221436373                        210
 1697774661436373                        210
 1697774631449496                        210
 1697771061449496                        210,
                   value:ventilation.kwh.total
 1697792621461327                        481.5
 1697786171461327                        481.5
 1697786151461327                        481.4
 1697785441461327                        481.4
 1697785411453309                        481.4
 1697781861453309                        481.4
 1697781831443844                        481.4
 1697778251443844                        481.4
 1697778221436373                        481.4
 1697774661436373                        481.4,
                   value:watermeter.pulsecount
 1697787651461327                          202
 1697787591461327                          197
 1697787531461327                          191
 1697787471461327                          185
 1697787411461327                          179
 1697787351461327                          173
 1697787291461327                          168
 1697787231461327                          162
 1697787171461327                          156
 1697787111461327                          150]

In [6]:
type(df_list[0])

pandas.core.frame.DataFrame

In [7]:
df_list[0]

                  value:room.temperature.10x
1697792621461327                         211
1697786471461327                         211
1697786441461327                         212
1697785451461327                         212
1697785421453309                         212
1697781861453309                         212
1697781831443844                         212
1697779891443844                         212
1697779871443844                         213
1697778251443844                         213

In [8]:
df_list[0].attrs

{'warp10.classname': 'room.temperature.10x',
 'warp10.labels': {'unit': 'celsius',
  'serial': '48779',
  '.app': 'sandbox.tutorial'},
 'warp10.attributes': {}}