In [1]:
import pywarp

In [2]:
url = 'https://sandbox.senx.io/api/v0/fetch'
token = '<Your-read-token>'

In [3]:
df = pywarp.ffetch(url, token, '~.*{}', 'now', '-10', indexedByTimestamp=True)

In [4]:
type(df)

pandas.core.frame.DataFrame

In [5]:
df

,l:unit,l:serial,l:.app,value:room.temperature.10x,value:outside.temperature,value:sanitary.water.temperature.10x,value:sanitary.water.temperature,value:heater.setpoint.10x,value:heatpump.power,value:heatpump.kwh.total,value:ventilation.kwh.total,value:watermeter.pulsecount
ts,,,,,,,,,,,,
1697792621461327,celsius,48779,sandbox.tutorial,211.0,15.0,509.0,509.0,210.0,NaN,NaN,NaN,NaN
1697786471461327,celsius,48779,sandbox.tutorial,211.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1697786441461327,celsius,48779,sandbox.tutorial,212.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1697785451461327,celsius,48779,sandbox.tutorial,212.0,NaN,NaN,NaN,210.0,NaN,NaN,NaN,NaN
1697785421453309,celsius,48779,sandbox.tutorial,212.0,NaN,NaN,NaN,210.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
1697787351461327,NaN,48779,sandbox.tutorial,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,173.0
1697787291461327,NaN,48779,sandbox.tutorial,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,168.0
1697787231461327,NaN,48779,sandbox.tutorial,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,162.0
1697787171461327,NaN,48779,sandbox.tutorial,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,156.0
1697787111461327,NaN,48779,sandbox.tutorial,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,150.0