In [1]:
import pywarp

In [2]:
url = 'http://localhost:8080/api/v0/fetch'
token = '5_IaKMa3EMn4hXKEgBpiT2CTxnrvw4BKj_30U2nFnwARsiZyrmM.P7KNq3hZ94i4G6fKlMlEVs90DWa7mq1Zl1utiPaBFwz3fKSWAkf405yieYVgPq7NAP1nlKxO_HUzYjwmc88sSenanPXpL_BncBdR4ImCphk3eLccSm0QzYH_mGvLWVG3jfq9pi8kzq2KyX7rXveMcd3'

In [3]:
f = pywarp.fetch(url, token, 'BIOGROS.temperature{}', 'now', '-10')

In [4]:
f

,class,labels,attributes,ts,lat,lon,elev,l_value,d_value,b_value,s_value,bin_value
0,BIOGROS.temperature,"{'device_name': '355523761528464', 'device_id'...",{},1649663543000000,None,None,None,NaN,6.01,None,None,None
1,BIOGROS.temperature,"{'device_name': '355523761528464', 'device_id'...",{},1649663242000000,None,None,None,NaN,5.97,None,None,None
2,BIOGROS.temperature,"{'device_name': '355523761528464', 'device_id'...",{},1649662941000000,None,None,None,NaN,5.90,None,None,None
3,BIOGROS.temperature,"{'device_name': '355523761528464', 'device_id'...",{},1649662640000000,None,None,None,NaN,5.91,None,None,None
4,BIOGROS.temperature,"{'device_name': '355523761528464', 'device_id'...",{},1649662339000000,None,None,None,NaN,5.81,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...
225,BIOGROS.temperature,"{'device_name': 'MAN ZE 0001 (6084)', 'device_...","{'red': '21.99', 'orange': '21.99', 'green': '...",1687821411000000,None,None,None,NaN,22.16,None,None,None
226,BIOGROS.temperature,"{'device_name': 'MAN ZE 0001 (6084)', 'device_...","{'red': '21.99', 'orange': '21.99', 'green': '...",1687814210000000,None,None,None,NaN,22.16,None,None,None
227,BIOGROS.temperature,"{'device_name': 'MAN ZE 0001 (6084)', 'device_...","{'red': '21.99', 'orange': '21.99', 'green': '...",1687807009000000,None,None,None,NaN,22.15,None,None,None
228,BIOGROS.temperature,"{'device_name': 'MAN ZE 0001 (6084)', 'device_...","{'red': '21.99', 'orange': '21.99', 'green': '...",1687799808000000,None,None,None,NaN,22.14,None,None,None
229,BIOGROS.temperature,"{'device_name': 'MAN ZE 0001 (6084)', 'device_...","{'red': '21.99', 'orange': '21.99', 'green': '...",1687792607000000,None,None,None,NaN,22.10,None,None,None

In [5]:
sf = pywarp.splitfetch(url, token, 'BIOGROS.temperature{}', 'now', '-10')

In [6]:
sf

[   ts:BIOGROS.temperature  value:BIOGROS.temperature
 0        1649663543000000                       6.01
 1        1649663242000000                       5.97
 2        1649662941000000                       5.90
 3        1649662640000000                       5.91
 4        1649662339000000                       5.81
 5        1649662038000000                       5.69
 6        1649661737000000                       5.55
 7        1649056674000000                       2.06
 8        1649056373000000                       1.98
 9        1649056072000000                       1.69,
    ts:BIOGROS.temperature  value:BIOGROS.temperature
 0        1653976615000000                      17.87
 1        1653976314000000                      17.80
 2        1653976013000000                      17.80
 3        1653975712000000                      17.82
 4        1653975411000000                      17.86
 5        1653975110000000                      17.87
 6        1653974809000000                      17.87
 7        1652160262000000                      18.78
 8        1652159961000000                      18.77
 9        1652159660000000                      18.78,
    ts:BIOGROS.temperature  value:BIOGROS.temperature
 0        1687856361000000                      21.96
 1        1687849160000000                      22.08
 2        1687841959000000                      22.09
 3        1687834758000000                      22.12
 4        1687827557000000                      22.18
 5        1687820356000000                      22.19
 6        1687813155000000                      22.22
 7        1687805954000000                      22.22
 8        1687798753000000                      22.22
 9        1687791552000000                      22.20,
    ts:BIOGROS.temperature  value:BIOGROS.temperature
 0        1687855909000000                      22.61
 1        1687848708000000                      22.74
 2        1687841507000000                      22.75
 3        1687834306000000                      22.78
 4        1687827105000000                      22.82
 5        1687819904000000                      22.86
 6        1687812703000000                      22.89
 7        1687805502000000                      22.91
 8        1687798301000000                      22.91
 9        1687791100000000                      22.88,
    ts:BIOGROS.temperature  value:BIOGROS.temperature
 0        1687854559000000                      22.06
 1        1687847358000000                      22.14
 2        1687840157000000                      22.15
 3        1687832956000000                      22.21
 4        1687825755000000                      22.25
 5        1687818554000000                      22.29
 6        1687811353000000                      22.29
 7        1687804152000000                      22.29
 8        1687796951000000                      22.28
 9        1687789750000000                      22.25,
    ts:BIOGROS.temperature  value:BIOGROS.temperature
 0        1687844879000000                      22.11
 1        1687837678000000                      22.14
 2        1687830477000000                      22.19
 3        1687823276000000                      22.22
 4        1687816075000000                      22.22
 5        1687808874000000                      22.22
 6        1687801673000000                      22.20
 7        1687794472000000                      22.18
 8        1687787290000000                      22.15
 9        1687780089000000                      22.11,
    ts:BIOGROS.temperature  value:BIOGROS.temperature
 0        1687851372000000                      22.04
 1        1687844171000000                      22.12
 2        1687836970000000                      22.17
 3        1687829769000000                      22.19
 4        1687822568000000                      22.22
 5        1687815367000000                      22.25
 6        1687808166000000                      22.25
 7        1687800965000000                      22.23
 8        1687793764000000                      22.23
 9        1687786563000000                      22.21,
    ts:BIOGROS.temperature  value:BIOGROS.temperature
 0        1683905058000000                       3.84
 1        1683886991000000                       3.93
 2        1683879790000000                       5.07
 3        1683872590000000                       4.14
 4        1683843712000000                       3.87
 5        1683836512000000                       4.03
 6        1683829312000000                       3.94
 7        1683822113000000                       4.19
 8        1683814913000000                       4.18
 9        1683807713000000                       4.19,
    ts:BIOGROS.temperature  value:BIOGROS.temperature
 0        1666821339000000                      16.51
 1        1666821038000000                      16.49
 2        1666820737000000                      16.49
 3        1666820437000000                      16.52
 4        1666820136000000                      16.51
 5        1666819835000000                      16.52
 6        1666819534000000                      16.51
 7        1666819233000000                      16.49
 8        1666818932000000                      16.49
 9        1666818631000000                      16.51,
    ts:BIOGROS.temperature  value:BIOGROS.temperature
 0        1687852040000000                      21.98
 1        1687844839000000                      22.08
 2        1687837638000000                      22.10
 3        1687830437000000                      22.13
 4        1687823236000000                      22.17
 5        1687816035000000                      22.21
 6        1687808834000000                      22.20
 7        1687801633000000                      22.23
 8        1687794432000000                      22.20
 9        1687787231000000                      22.16,
    ts:BIOGROS.temperature  value:BIOGROS.temperature
 0        1687850106000000                      22.07
 1        1687842905000000                      22.12
 2        1687835704000000                      22.15
 3        1687828503000000                      22.19
 4        1687821320000000                      22.22
 5        1687814119000000                      22.24
 6        1687806918000000                      22.24
 7        1687799717000000                      22.23
 8        1687792516000000                      22.24
 9        1687785315000000                      22.22,
    ts:BIOGROS.temperature  value:BIOGROS.temperature
 0        1687855942000000                      16.53
 1        1687848741000000                      14.71
 2        1687841540000000                      13.41
 3        1687834339000000                      13.90
 4        1687827138000000                      14.75
 5        1687819937000000                      15.67
 6        1687812736000000                      16.94
 7        1687805535000000                      18.15
 8        1687798334000000                      19.30
 9        1687791133000000                      20.02,
    ts:BIOGROS.temperature  value:BIOGROS.temperature
 0        1687857613000000                      22.02
 1        1687850412000000                      22.09
 2        1687843211000000                      22.12
 3        1687836010000000                      22.15
 4        1687828809000000                      22.17
 5        1687821608000000                      22.19
 6        1687814407000000                      22.20
 7        1687807206000000                      22.20
 8        1687800005000000                      22.19
 9        1687792804000000                      22.17,
    ts:BIOGROS.temperature  value:BIOGROS.temperature
 0        1687857091000000                      21.84
 1        1687849890000000                      21.97
 2        1687842689000000                      22.00
 3        1687835488000000                      22.04
 4        1687828287000000                      22.08
 5        1687821086000000                      22.11
 6        1687813901000000                      22.14
 7        1687806700000000                      22.15
 8        1687799499000000                      22.16
 9        1687792298000000                      22.16,
    ts:BIOGROS.temperature  value:BIOGROS.temperature
 0        1687854000000000                         18
 1        1687850400000000                         16
 2        1687845000000000                         15
 3        1687843200000000                         13
 4        1687839600000000                         12
 5        1687836000000000                         12
 6        1687832400000000                         13
 7        1687828800000000                         14
 8        1687825200000000                         15
 9        1687821600000000                         16,
    ts:BIOGROS.temperature  value:BIOGROS.temperature
 0        1687852000000000                      22.10
 1        1687844799000000                      22.16
 2        1687837598000000                      22.17
 3        1687830397000000                      22.21
 4        1687823196000000                      22.24
 5        1687815995000000                      22.27
 6        1687808794000000                      22.25
 7        1687801593000000                      22.24
 8        1687794392000000                      22.22
 9        1687787191000000                      22.18,
    ts:BIOGROS.temperature  value:BIOGROS.temperature
 0        1687853017000000                      21.89
 1        1687845816000000                      22.02
 2        1687838615000000                      22.03
 3        1687831414000000                      22.06
 4        1687824213000000                      22.12
 5        1687817012000000                      22.16
 6        1687809811000000                      22.17
 7        1687802610000000                      22.19
 8        1687795428000000                      22.19
 9        1687788227000000                      22.14,
    ts:BIOGROS.temperature  value:BIOGROS.temperature
 0        1687852148000000                      22.07
 1        1687844947000000                      22.16
 2        1687837746000000                      22.19
 3        1687830545000000                      22.23
 4        1687823344000000                      22.27
 5        1687816143000000                      22.33
 6        1687808942000000                      22.34
 7        1687801741000000                      22.34
 8        1687794540000000                      22.34
 9        1687787339000000                      22.30,
    ts:BIOGROS.temperature  value:BIOGROS.temperature
 0        1687845576000000                      22.07
 1        1687838375000000                      22.09
 2        1687831174000000                      22.12
 3        1687823973000000                      22.16
 4        1687816772000000                      22.20
 5        1687809571000000                      22.20
 6        1687802370000000                      22.20
 7        1687795169000000                      22.20
 8        1687787968000000                      22.17
 9        1687780767000000                      22.12,
    ts:BIOGROS.temperature  value:BIOGROS.temperature
 0        1687851303000000                      21.93
 1        1687844102000000                      22.03
 2        1687836901000000                      22.06
 3        1687829700000000                      22.08
 4        1687822499000000                      22.11
 5        1687815298000000                      22.14
 6        1687808097000000                      22.15
 7        1687800896000000                      22.15
 8        1687793695000000                      22.12
 9        1687786494000000                      22.11,
    ts:BIOGROS.temperature  value:BIOGROS.temperature
 0        1687852929000000                      22.09
 1        1687845728000000                      22.14
 2        1687838527000000                      22.16
 3        1687831326000000                      22.20
 4        1687824125000000                      22.21
 5        1687816924000000                      22.25
 6        1687809723000000                      22.24
 7        1687802522000000                      22.22
 8        1687795321000000                      22.20
 9        1687788120000000                      22.16,
    ts:BIOGROS.temperature  value:BIOGROS.temperature
 0        1687851183000000                      22.68
 1        1687843982000000                      22.75
 2        1687836781000000                      22.78
 3        1687829580000000                      22.82
 4        1687822379000000                      22.90
 5        1687815178000000                      22.92
 6        1687807977000000                      22.94
 7        1687800776000000                      22.95
 8        1687793575000000                      22.95
 9        1687786374000000                      22.95,
    ts:BIOGROS.temperature  value:BIOGROS.temperature
 0        1687857416000000                      21.99
 1        1687850215000000                      22.03
 2        1687843014000000                      22.07
 3        1687835813000000                      22.10
 4        1687828612000000                      22.14
 5        1687821411000000                      22.16
 6        1687814210000000                      22.16
 7        1687807009000000                      22.15
 8        1687799808000000                      22.14
 9        1687792607000000                      22.10]

In [7]:
sf[0]

   ts:BIOGROS.temperature  value:BIOGROS.temperature
0        1649663543000000                       6.01
1        1649663242000000                       5.97
2        1649662941000000                       5.90
3        1649662640000000                       5.91
4        1649662339000000                       5.81
5        1649662038000000                       5.69
6        1649661737000000                       5.55
7        1649056674000000                       2.06
8        1649056373000000                       1.98
9        1649056072000000                       1.69

In [8]:
sf[-1]

   ts:BIOGROS.temperature  value:BIOGROS.temperature
0        1687857416000000                      21.99
1        1687850215000000                      22.03
2        1687843014000000                      22.07
3        1687835813000000                      22.10
4        1687828612000000                      22.14
5        1687821411000000                      22.16
6        1687814210000000                      22.16
7        1687807009000000                      22.15
8        1687799808000000                      22.14
9        1687792607000000                      22.10

In [9]:
sf[0].attrs

{'warp10classname': 'BIOGROS.temperature',
 'warp10labels': {'device_name': '355523761528464',
  'device_id': '355523761528464',
  '.app': 'reamit'},
 'warp10attributes': {}}

In [10]:
sf[-1].attrs

{'warp10classname': 'BIOGROS.temperature',
 'warp10labels': {'device_name': 'MAN ZE 0001 (6084)',
  'device_id': '355523762896084',
  '.app': 'reamit'},
 'warp10attributes': {'red': '21.99', 'orange': '21.99', 'green': '21.99'}}

In [11]:
sf = pywarp.splitfetch(url, token, 'BIOGROS.temperature{}', 'now', '-10', True)

In [12]:
sf[0]

                  value:BIOGROS.temperature
1649663543000000                       6.01
1649663242000000                       5.97
1649662941000000                       5.90
1649662640000000                       5.91
1649662339000000                       5.81
1649662038000000                       5.69
1649661737000000                       5.55
1649056674000000                       2.06
1649056373000000                       1.98
1649056072000000                       1.69

In [14]:
LABELS = 'warp10labels'
ATTRIBUTES = 'warp10attributes'
for df in sf:
    for key in df.attrs[LABELS]:
      df[key] = [df.attrs[LABELS][key]] * len(df)
    
    for key in df.attrs[ATTRIBUTES]:
      df[key] = [df.attrs[ATTRIBUTES][key]] * len(df)

In [16]:
sf[0]

,value:BIOGROS.temperature,device_name,device_id,.app
1649663543000000,6.01,355523761528464,355523761528464,reamit
1649663242000000,5.97,355523761528464,355523761528464,reamit
1649662941000000,5.90,355523761528464,355523761528464,reamit
1649662640000000,5.91,355523761528464,355523761528464,reamit
1649662339000000,5.81,355523761528464,355523761528464,reamit
1649662038000000,5.69,355523761528464,355523761528464,reamit
1649661737000000,5.55,355523761528464,355523761528464,reamit
1649056674000000,2.06,355523761528464,355523761528464,reamit
1649056373000000,1.98,355523761528464,355523761528464,reamit
1649056072000000,1.69,355523761528464,355523761528464,reamit

In [17]:
sf[-1]

,value:BIOGROS.temperature,device_name,device_id,.app,red,orange,green
1687857416000000,21.99,MAN ZE 0001 (6084),355523762896084,reamit,21.99,21.99,21.99
1687850215000000,22.03,MAN ZE 0001 (6084),355523762896084,reamit,21.99,21.99,21.99
1687843014000000,22.07,MAN ZE 0001 (6084),355523762896084,reamit,21.99,21.99,21.99
1687835813000000,22.10,MAN ZE 0001 (6084),355523762896084,reamit,21.99,21.99,21.99
1687828612000000,22.14,MAN ZE 0001 (6084),355523762896084,reamit,21.99,21.99,21.99
1687821411000000,22.16,MAN ZE 0001 (6084),355523762896084,reamit,21.99,21.99,21.99
1687814210000000,22.16,MAN ZE 0001 (6084),355523762896084,reamit,21.99,21.99,21.99
1687807009000000,22.15,MAN ZE 0001 (6084),355523762896084,reamit,21.99,21.99,21.99
1687799808000000,22.14,MAN ZE 0001 (6084),355523762896084,reamit,21.99,21.99,21.99
1687792607000000,22.10,MAN ZE 0001 (6084),355523762896084,reamit,21.99,21.99,21.99